.field {
    display: block;
}

.field div {
    font-size: 12px;
    color: #999;
}

.field input {
    width: 100%;
    padding: 4px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CBCBCB;
}

.field input:focus {
    outline: none;
    border-bottom-color: teal;
}

.field+.field {
    margin-top: 18px;
}