.img-wrapper {
    background-color: #E5E6E7;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper img,
.placeholder {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}